[submodule "dot/vim/bundle/salt-vim"]
	path = dot/vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "dot/vim/bundle/nerdtree"]
	path = dot/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dot/vim/bundle/vim-gradle"]
	path = dot/vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle
[submodule "dot/vim/bundle/vim-sleuth"]
	path = dot/vim/bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "dot/vim/bundle/vim-javascript"]
	path = dot/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dot/vim/bundle/ale"]
	path = dot/vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "dot/vim/bundle/vim-jsx-pretty"]
	path = dot/vim/bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "dot/vim/bundle/typescript-vim"]
	path = dot/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "dot/vim/bundle/nerdtree-git-plugin"]
	path = dot/vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
