/*******************************************************************************
* File:          opensourceconsulting.css
* Author:        Jean-Baptiste Quenot <jb.quenot@caraldi.com>
* Date Created:  2002-02-01 11:00:50
* Revision:      $Id: docbook.css,v 1.5 2003/02/24 11:44:33 quenotj Exp $
*******************************************************************************/

@import url(embedded_xml.css);
@import url(embedded_dtd.css);
@import url(docbook.css);
@import url(additions.css);

HTML BODY {
        background-color: #FFFFE1;
}
