h1 {
    font-size: 1.2em;
    border-bottom: .1em solid white;
}

h2 {
    font-size: 1em
}

body {
    background-color: black;
    color: #D0D0D0;
    font-size: 10pt;
    font-family: sans-serif;
    margin: 1em;
}

table {
    color: black;
}

.section {
    margin-bottom: 2em;
}

.section h2 {
    margin-bottom: .5em
}

ul.links {
    padding-left: 2em;
    margin-top: 0;
}

a:link {
    color: #DDD;
}

/*
 * Thanks to http://www.w3.org/2002/03/csslayout-howto
 */
#rightcol {
    position: absolute;
    right: 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-left:0;
    margin-right:0;
    font-size: .8em;
    width: 25%;
}

#leftcol {
    position: absolute;
    left: 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-left:0;
    margin-right:0;
    font-size: .8em;
    width: 15%;
}

#main {
    margin-left: 15%;
    margin-right: 25%;
    padding-left:1em;
    padding-right:1em;
}

#todo {
}

p.date {
    margin: 0;
    padding: 0;
    font-size: .8em;
    padding-left: 1em;
}

.weather td {
    color: white;
}

#save {
    position: absolute;
    right: 0;
    top: 0;
    margin: .5em;
    font-size: .8em;
}

#update-info {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: white;
    color: black;
}

.contact {
    margin-bottom: 1em;
    border-left: 1px dashed #D0D0D0;
    border-bottom: 1px dashed #D0D0D0;
    padding: .5em;
}

.refresh {
    float: right;
}

.portlet.old .rss .links {
    display: none;
}

.portlet.old a:visited {
    color: #800;
}

.portlet.old a:link {
    color: #666;
}

.portlet.old .rss .date {
    display: none;
}
